@use "element-plus/dist/index.css";
:root {
  --el-color-primary: #2ebba3;
//   --el-color-primary-light-3: #2ebba3;
 
  // --el-color-primary-light-7: #c6e2ff;
  // --el-color-primary-light-8: #d9ecff;
  // --el-color-primary-light-9: #ecf5ff;
  // --el-color-primary-dark-2: #337ecc;
}
