* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: Source Han Sans CN-Normal, Source Han Sans CN !important;
}
html,
body {
	padding: 0;
	margin: 0;
}
#app {
	font-family: Source Han Sans CN-Normal, Source Han Sans CN !important;
}
html,
body,
#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
