.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear{
    content: "";
    display: block block;
    clear: both;
}
:deep(.el-button){
    font-size: 14px;
}
button{
    font-size: 14px;
}
// .el-button--primary{
//     background-color: #2ebba3 !important;
// }
